<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1005" Action="Error" />
    <Rule Id="CA1007" Action="Error" />
    <Rule Id="CA1010" Action="Error" />
    <Rule Id="CA1018" Action="Error" />
    <Rule Id="CA1025" Action="Error" />
    <Rule Id="CA1034" Action="Error" />
    <Rule Id="CA1035" Action="Error" />
    <Rule Id="CA1038" Action="Error" />
    <Rule Id="CA1039" Action="Error" />
    <Rule Id="CA1041" Action="Error" />
    <Rule Id="CA1044" Action="Error" />
    <Rule Id="CA1047" Action="Error" />
    <Rule Id="CA1048" Action="Error" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1050" Action="Error" />
    <Rule Id="CA1051" Action="Error" />
    <Rule Id="CA1052" Action="Error" />
    <Rule Id="CA1053" Action="Error" />
    <Rule Id="CA1058" Action="Error" />
    <Rule Id="CA1065" Action="Error" />
    <Rule Id="CA1307" Action="Error" />
    <Rule Id="CA1309" Action="Error" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2008" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS8511" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0007" Action="Error" />
    <Rule Id="IDE0065" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1068" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.VisualStudio.Threading.Analyzers" RuleNamespace="Microsoft.VisualStudio.Threading.Analyzers">
    <Rule Id="VSTHRD111" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1026" Action="Error" />
    <Rule Id="SA1100" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1122" Action="Error" />
    <Rule Id="SA1124" Action="Error" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1130" Action="Error" />
    <Rule Id="SA1131" Action="Error" />
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1137" Action="Error" />
    <Rule Id="SA1138" Action="Error" />
    <Rule Id="SA1139" Action="Error" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1400" Action="Error" />
    <Rule Id="SA1401" Action="Error" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1403" Action="Error" />
    <Rule Id="SA1404" Action="Error" />
    <Rule Id="SA1405" Action="Error" />
    <Rule Id="SA1406" Action="Error" />
    <Rule Id="SA1409" Action="Error" />
    <Rule Id="SA1410" Action="Error" />
    <Rule Id="SA1411" Action="Error" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1101" Action="Error" />
  </Rules>
</RuleSet>